doctype html
head
	title #{title}
	meta(name='robots' content='noindex,nofollow')
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css')
body
	pre!= content